USE [master]
GO
/****** Object:  Database [xueyuan_2017]    Script Date: 2018/3/11 9:05:14 ******/
CREATE DATABASE [xueyuan_2017]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'xueyuan_2017', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\xueyuan_2017.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'xueyuan_2017_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\xueyuan_2017_log.ldf' , SIZE = 3456KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [xueyuan_2017].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [xueyuan_2017]
GO
/****** Object:  Table [dbo].[admin_table]    Script Date: 2018/3/11 9:05:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[admin_table](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[admin_Name] [nvarchar](20) NULL,
	[admin_Pwd] [nvarchar](20) NULL,
	[state] [bit] NULL,
	[Sex] [bit] NULL,
	[Status] [nvarchar](20) NULL,
	[Contact] [nvarchar](30) NULL,
	[LGtime] [datetime] NULL,
 CONSTRAINT [PK_admin_table] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Barrage]    Script Date: 2018/3/11 9:05:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Barrage](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IsContents] [nvarchar](max) NULL,
	[Publisher] [nvarchar](max) NULL,
	[ReleaseTime] [datetime] NULL,
 CONSTRAINT [PK_Barrage] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Flink]    Script Date: 2018/3/11 9:05:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Flink](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[URLLink] [nvarchar](max) NULL,
	[SerialNumber] [int] NULL,
	[tjtime] [datetime] NULL,
	[ContactEMail] [nvarchar](50) NULL,
 CONSTRAINT [PK_Flink] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[RNews]    Script Date: 2018/3/11 9:05:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RNews](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](max) NULL,
	[Author] [nvarchar](max) NULL,
	[IsClass] [nvarchar](max) NULL,
	[Abstract] [nvarchar](max) NULL,
	[Tsize] [float] NULL,
	[NStatistics] [int] NULL,
	[Download] [nvarchar](max) NULL,
	[lrNumber] [int] NULL,
	[IsContents] [nvarchar](max) NULL,
	[ReleaseTime] [datetime] NULL,
	[Thumbnail] [nvarchar](max) NULL,
	[Star] [int] NULL,
	[Auditing] [bit] NULL,
 CONSTRAINT [PK_RNews] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UserInfor]    Script Date: 2018/3/11 9:05:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserInfor](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Binding] [nvarchar](max) NULL,
	[UserEmail] [nvarchar](max) NULL,
	[UserName] [nvarchar](max) NULL,
	[UserPwd] [nvarchar](max) NULL,
	[Balance] [int] NULL,
	[Gender] [bit] NULL,
	[Synopsis] [nvarchar](max) NULL,
	[No_qq] [nvarchar](11) NULL,
	[Phone] [nvarchar](11) NULL,
	[Included] [int] NULL,
	[Sign] [bit] NULL,
	[RegTime] [datetime] NULL,
	[ChengHao] [int] NULL,
 CONSTRAINT [PK_UserInfor] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[admin_table] ON 

INSERT [dbo].[admin_table] ([ID], [admin_Name], [admin_Pwd], [state], [Sex], [Status], [Contact], [LGtime]) VALUES (1, N'admin', N'shaozhu124', 1, 1, N'管理员', N'1241058165', CAST(0x0000A89800D44FF2 AS DateTime))
INSERT [dbo].[admin_table] ([ID], [admin_Name], [admin_Pwd], [state], [Sex], [Status], [Contact], [LGtime]) VALUES (3, N'admin123', N'admin123', 1, 1, N'admin123', N'admin123', CAST(0x0000A85400B78A7D AS DateTime))
SET IDENTITY_INSERT [dbo].[admin_table] OFF
SET IDENTITY_INSERT [dbo].[Barrage] ON 

INSERT [dbo].[Barrage] ([ID], [IsContents], [Publisher], [ReleaseTime]) VALUES (1, N'qq学院太牛逼了,不得不惊叹呀', N'xxxcccvvvbbbnnnmmm', CAST(0x0000A84600000000 AS DateTime))
INSERT [dbo].[Barrage] ([ID], [IsContents], [Publisher], [ReleaseTime]) VALUES (2, N'qq学院太牛逼了,不得不惊叹呀', N'xxxcccvvvbbbnnnmmm', CAST(0x0000A84600000000 AS DateTime))
INSERT [dbo].[Barrage] ([ID], [IsContents], [Publisher], [ReleaseTime]) VALUES (3, N'qq学院太牛逼了,不得不惊叹呀', N'xxxcccvvvbbbnnnmmm', CAST(0x0000A84600000000 AS DateTime))
SET IDENTITY_INSERT [dbo].[Barrage] OFF
SET IDENTITY_INSERT [dbo].[Flink] ON 

INSERT [dbo].[Flink] ([ID], [Name], [URLLink], [SerialNumber], [tjtime], [ContactEMail]) VALUES (1, N'学院云短信', N'http://www.qqxueyuan.cn', 1, CAST(0x0000A84600000000 AS DateTime), N'1241058165@qq.com')
INSERT [dbo].[Flink] ([ID], [Name], [URLLink], [SerialNumber], [tjtime], [ContactEMail]) VALUES (3, N'学院云短信', N'http://www.qqxueyuan.cn', 1, CAST(0x0000A84600000000 AS DateTime), N'1241058165@qq.com')
INSERT [dbo].[Flink] ([ID], [Name], [URLLink], [SerialNumber], [tjtime], [ContactEMail]) VALUES (16, N'百度', N'https://www.baidu.com/', 0, CAST(0x0000A85200000000 AS DateTime), N'1241058165@qq.com')
SET IDENTITY_INSERT [dbo].[Flink] OFF
SET IDENTITY_INSERT [dbo].[RNews] ON 

INSERT [dbo].[RNews] ([ID], [Title], [Author], [IsClass], [Abstract], [Tsize], [NStatistics], [Download], [lrNumber], [IsContents], [ReleaseTime], [Thumbnail], [Star], [Auditing]) VALUES (1, N'每日分享淘宝天猫优惠券精品干货', N'xxxcccvvvbbbnnnmmm', N'线报活动', NULL, NULL, NULL, N'https://pan.baidu.com/', 999, N' <h5>QQ学院DB测试内容数据QQ学院DB测试内容数据</h5>', CAST(0x0000A84700000000 AS DateTime), N'/img/Rnews/default_cover.png', 5, 0)
INSERT [dbo].[RNews] ([ID], [Title], [Author], [IsClass], [Abstract], [Tsize], [NStatistics], [Download], [lrNumber], [IsContents], [ReleaseTime], [Thumbnail], [Star], [Auditing]) VALUES (3, N'教程软件教程QQ学院DB测试内容数据', N'xxxcccvvvbbbnnnmmm', N'教程软件', N'QQ学院DB测试内容数据QQ学院DB测试内容数据', 12.5, 999, N'https://pan.baidu.com/', NULL, NULL, CAST(0x0000A84700000000 AS DateTime), N'/img/Rnews/default_cover.png', 5, 0)
INSERT [dbo].[RNews] ([ID], [Title], [Author], [IsClass], [Abstract], [Tsize], [NStatistics], [Download], [lrNumber], [IsContents], [ReleaseTime], [Thumbnail], [Star], [Auditing]) VALUES (4, N'教程软件教程QQ学院DB测试内容数据', N'xxxcccvvvbbbnnnmmm', N'教程软件', N'QQ学院DB测试内容数据QQ学院DB测试内容数据', 12.5, 999, N'https://pan.baidu.com/', NULL, NULL, CAST(0x0000A84700000000 AS DateTime), N'/img/Rnews/default_cover.png', 5, 0)
GO
SET IDENTITY_INSERT [dbo].[RNews] OFF
SET IDENTITY_INSERT [dbo].[UserInfor] ON 

INSERT [dbo].[UserInfor] ([ID], [Binding], [UserEmail], [UserName], [UserPwd], [Balance], [Gender], [Synopsis], [No_qq], [Phone], [Included], [Sign], [RegTime], [ChengHao]) VALUES (1, N'xxxcccvvvbbbnnnmmm', N'53602182@qq.com', N'小义', N'123123', 100, 1, N'QQ学院网络欢迎您的大驾光临', N'1241058165', N'15070026795', 0, 0, CAST(0x0000A84600000000 AS DateTime), 1)
INSERT [dbo].[UserInfor] ([ID], [Binding], [UserEmail], [UserName], [UserPwd], [Balance], [Gender], [Synopsis], [No_qq], [Phone], [Included], [Sign], [RegTime], [ChengHao]) VALUES (2, N'111cccvvvbbbnnnmmm', N'536021823@qq.com', N'小义001', N'shaozhu001', 100, 1, N'QQ学院网络欢迎您的大驾光临', N'1241058165', N'15070026795', 99, 0, CAST(0x0000A84600000000 AS DateTime), 1)
INSERT [dbo].[UserInfor] ([ID], [Binding], [UserEmail], [UserName], [UserPwd], [Balance], [Gender], [Synopsis], [No_qq], [Phone], [Included], [Sign], [RegTime], [ChengHao]) VALUES (3, N'222cccvvvbbbnnnmmm', N'536021832@qq.com', N'小义002', N'shaozhu001', 100, 1, N'QQ学院网络欢迎您的大驾光临', N'1241058165', N'15070026795', 109, 0, CAST(0x0000A84600000000 AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[UserInfor] OFF
USE [master]
GO
